<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/shop.css" />
    <title>Ball Action</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <div class="shoots">
          <div>Shoots left</div>
          <div class="left_cont">
            <div class="left">10</div>
            <img src="../png/ball.png" alt="ball" />
          </div>
        </div>
        <div class="ball_cont"></div>
        <div class="balance_field"></div>
      </div>

      <div class="shop">
        <div class="item_cont block" data-pers="1">
          <div class="border block"></div>
          <div class="item">
            <img src="../png/pers_1.png" alt="pers" />
          </div>
        </div>

        <div class="item_cont block" data-pers="2">
          <div class="border block"></div>
          <div class="item">
            <img src="../png/pers_2.png" alt="pers" />
          </div>
        </div>

        <div class="item_cont block" data-pers="3">
          <div class="border block"></div>
          <div class="item">
            <img src="../png/pers_3.png" alt="pers" />
          </div>
        </div>

        <div class="item_cont block" data-pers="bonus">
          <div class="border block"></div>
          <div class="item">
            <img src="../png/bonus.png" alt="pers" />
          </div>
        </div>
      </div>

      <div class="button_cont">
        <a href="./main.html" class="button block main">Menu</a>
        <div class="button block">Selected</div>
        <a href="./game.html" class="button block game">Game</a>
      </div>
    </div>
    <script src="../scripts/nav.js" type="module"></script>
    <script src="../scripts/shop.js" type="module"></script>
  </body>
</html>
