.balance.anim {
  color: tomato;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 30px;
  height: 180px;
}

.item_cont {
  position: relative;
  width: 150px;
  height: 150px;

  filter: grayscale(1);
  transition: filter 1s ease, width 1s ease, height 1s ease;
}

.item_cont.active {
  width: 180px;
  height: 180px;

  filter: grayscale(0);
}

.border {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../png/border.png");
  background-size: 100% 100%;

  border-radius: 50%;
  box-sizing: border-box;

  transition: width 1s ease, height 1s ease;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.active .border {
  animation: rotate 4s infinite linear;
}

[data-pers="bonus"] .item {
  border: none;
  background: none;
  box-shadow: none;
}

.button_cont {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;
  bottom: 1%;

  height: 72px;
  width: 100%;
}

.button,
a {
  height: 100%;
  width: 25%;

  font-weight: 700;
  font-size: 2vw;
  text-shadow: 0px 2.66706px 8.00118px #f3fffd;

  background-image: url("../png/block.png");
  background-size: 100% 100%;

  transition: text-shadow 0.5s ease;
}

.deal {
  text-shadow: 0px 2.66706px 8.00118px rgb(6, 218, 6);
}

.not_deal {
  text-shadow: 0px 2.66706px 8.00118px red;
}

.button img {
  max-height: 50%;
}

@media screen and (max-width: 700px) {
  .shop {
    height: 140px;
  }

  .item_cont.active {
    width: 140px;
    height: 140px;
  }

  .item_cont {
    width: 110px;
    height: 110px;
  }

  .button_cont {
    height: 50px;
  }
}

@media screen and (min-height: 600px) {
  .shop {
    height: 240px;
    margin-top: 60px;
  }

  .item_cont.active {
    width: 240px;
    height: 240px;
  }

  .item_cont {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-height: 800px) {
  .shop {
    height: 280px;
    margin-top: 60px;
  }

  .item_cont.active {
    width: 280px;
    height: 280px;
  }

  .item_cont {
    width: 240px;
    height: 240px;
  }
}
